.torrent-card {
  background-color: var(--surface-card);
  transition: box-shadow 0.2s;
}
.torrent-card:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
:host ::ng-deep .h-0-5rem {
  height: 0.5rem !important;
}

:host ::ng-deep .torrent-progress-bar .p-progressbar-label {
  font-size: 0.7rem;
}
:host ::ng-deep .torrent-progress-bar {
  height: 0.83rem;                 
  margin-bottom: .6rem;            
}