.torrent-card {
  background-color: var(--surface-card);
  transition: box-shadow 0.2s;
}

.torrent-card:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Тонкий прогрессбар */
:host ::ng-deep .h-0-5rem {
  height: 0.5rem !important;
}

.content-container {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
}

.toolbar {
    margin-top: -42px;
}

/* === МОБИЛЬНАЯ АДАПТАЦИЯ (до 768px) === */
@media (max-width: 768px) {
  .content-container {
    padding: 0.5rem;  /* Уменьшаем общий отступ */
  }
}